<!-- This is the main page -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Main Page</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to the Weather Page</h1>
        <div class = "button-container">
            <a href="/form">
                <button class="button-style">Click Me to Find Out the Weather in a Certain Location</button>
            </a>
            <a href="/output">
                <button class="button-style">Click Me to See the Stats by Clicks of Grade Level</button>
            </a>
            <a href="/remove">
                <button class="button-style">Remove All Entries</button>
            </a>
        </div>
    </body>
</html>