<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Removed All Entries</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>All Entries Removed</h1>
        <p>
            All entries have been removed from the database. 
            Number of entries removed: <%- num %>
        </p>
        <br>
        <a href="/"><button class="button-style">Go Back to Main Page</button></a>
    </body>